<app-header></app-header>
<main>
    <app-banner></app-banner>
    <section id="how-it-works">
        <app-section-title title="How Does It Work?"></app-section-title>
        <div class="cards-row">
            <app-info-card 
                [image]="{src: 'online-shopping.png', alt: 'Online shopping icon'}" 
                title="1. Select your favourite meals from our menu" 
                text="Thousands of unique recipes! New meals are added every week">
            </app-info-card>
            <app-info-card 
                [image]="{src: 'package.png', alt: 'Delivered package icon'}" 
                title="2. Receive the delivered meal kit on your selected day" 
                text="Get the ingredients needed for your favourite meals. Free delivery for orders above 6000 KZT">
            </app-info-card>
            <app-info-card 
                [image]="{src: 'meal.png', alt: 'Cooked meal icon'}" 
                title="3. Cook a delicious dinner and enjoy!" 
                text="The meal kit includes a detailed instruction with photos for an easy cooking process">
            </app-info-card>
        </div>
    </section>
    <section id="menu">
        <app-section-title title="Our Menu"></app-section-title>
        <div class="cards-row">
            <app-menu-card 
                [image]="{src: 'french-mustard-chicken.webp', alt: 'French mustard chicken'}" 
                name="French mustard chicken" 
                [price]="1400">
            </app-menu-card>
            <app-menu-card 
                [image]="{src: 'bacon-cheese-quiche.webp', alt: 'Bacon and cheese quiche'}" 
                name="Bacon and cheese quiche" 
                [price]="1800">
            </app-menu-card>
            <app-menu-card 
                [image]="{src: 'italian-tiramisu.webp', alt: 'Italian Tiramisù'}" 
                name="Italian Tiramisù" 
                [price]="1200">
            </app-menu-card>
        </div>
    </section>
    <section id="why-us">
        <app-section-title title="Why Us?"></app-section-title>
        <div class="cards-row">
            <app-interactive-card title="Orders">
                <app-orders></app-orders>
            </app-interactive-card>
            <app-interactive-card title="Reviews">
                <app-reviews></app-reviews>
            </app-interactive-card>
            <app-interactive-card title="Your review">
                <app-new-review (submitReview)="onAddNewReview($event)"></app-new-review>
            </app-interactive-card>
        </div>
    </section>
</main>
<app-footer></app-footer>